    @import url(font-awesome.min.css);
    @import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");
    /*
    custom CSS
*/
    
    html,
    body {
        height: 100%;
    }
    /* Header */
    
    header {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        display: block;
    }
    
    header p {
        position: relative;
        margin: 0 0 1.5em 0;
    }
    
    header h2+p {
        font-size: 1.25em;
        margin-top: -1em;
    }
    
    header h3+p {
        font-size: 1.1em;
        margin-top: -0.8em;
    }
    
    header h4+p,
    header h5+p,
    header h6+p {
        font-size: 0.9em;
        margin-top: -0.6em;
    }
    
    header p {
        color: #717171;
    }
    
    .wrapper.style1 header p {
        color: #f8d1d2;
    }
    
    .wrapper.style2 header p {
        color: #bdbdbd;
    }
    /* Header End */
    /* Main Header */
    
    .main-header {
        background: #1c1c1c;
        color: #d5d5d5;
        cursor: default;
        height: 5em;
        left: 0;
        line-height: 5em;
        position: fixed;
        text-align: right;
        top: 0;
        width: 100%;
        z-index: 10001;
    }
    
    .main-header .inner {
        max-width: 65em;
        width: calc(100% - 6em);
        margin: 0 auto;
        position: relative;
    }
    
    @media screen and (max-width: 480px) {
        .main-header .inner {
            max-width: 90%;
            width: 90%;
        }
    }
    
    .main-header .logo {
        font-family: 'Pacifico', cursive;
        display: inline-block;
        height: inherit;
        left: 0;
        line-height: inherit;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 0;
        color: #e5474b;
        font-size: 1.75em;
        text-transform: none;
        font-weight: normal;
        padding: 0;
    }
    
    .main-header .logo:hover {
        color: rgba(229, 71, 75, 0.75);
    }
    
    .main-header a {
        -moz-transition: color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        display: inline-block;
        padding: 0 2em;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: .85em;
    }
    
    .main-header a:hover {
        color: rgba(255, 255, 255, 0.75);
    }
    
    .main-header a:last-child {
        padding-right: 0em;
    }
    
    @media screen and (max-width: 736px) {
        .main-header a {
            padding: 0 0.5em;
        }
    }
    
    @media screen and (max-width: 480px) {
        .main-header {
            min-width: 320px;
        }
    }
    /* Main Header End */
    /* Menu */
    
    #nav {
        display: inline-block;
    }
    
    @media screen and (max-width: 980px) {
        #nav {
            display: none;
        }
    }
    
    .navPanelToggle {
        position: fixed;
        text-decoration: none;
        height: 4em;
        right: 3em;
        top: .75em;
        width: 4em;
        display: none;
        z-index: 10002;
    }
    
    .navPanelToggle:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
        color: #fff;
        display: block;
        font-size: 16px;
        height: 2.25em;
        left: 0.5em;
        line-height: 2.25em;
        position: absolute;
        text-align: center;
        top: 0.5em;
        width: 3.5em;
    }
    
    @media screen and (max-width: 980px) {
        .navPanelToggle {
            display: block;
        }
    }
    
    @media screen and (max-width: 736px) {
        .navPanelToggle {
            right: 1em;
        }
    }
    
    .navPanelToggle *:before {
        color: #fff;
        display: block;
        font-size: 16px;
        height: 2.25em;
        left: 0.5em;
        line-height: 2.25em;
        position: absolute;
        text-align: center;
        top: 0.5em;
        width: 3.5em;
    }
    
    #navPanel {
        -moz-transform: translatex(20em);
        -webkit-transform: translatex(20em);
        -ms-transform: translatex(20em);
        transform: translatex(20em);
        -moz-transition: -moz-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
        -webkit-transition: -webkit-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
        -ms-transition: -ms-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
        -webkit-overflow-scrolling: touch;
        visibility: hidden;
        overflow-y: auto;
        position: fixed;
        right: 0;
        top: 0;
        background: #1c1c1c;
        color: #fff;
        height: 100%;
        max-width: 80%;
        width: 20em;
        padding: 1.5em;
        text-transform: uppercase;
        z-index: 10003;
        display: none;
    }
    
    #navPanel.visible {
        -moz-transform: translatex(0);
        -webkit-transform: translatex(0);
        -ms-transform: translatex(0);
        transform: translatex(0);
        box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
        visibility: visible;
    }
    
    #navPanel a:not(.close) {
        border-top: solid 1px rgba(255, 255, 255, 0.1);
        color: #fff;
        font-weight: 700;
        display: block;
        padding: 0.75em 0;
        text-decoration: none;
    }
    
    #navPanel a:not(.close):first-child {
        border: none;
    }
    
    #navPanel .close {
        text-decoration: none;
        -moz-transition: color 0.2s ease-in-out;
        -webkit-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
        -webkit-tap-highlight-color: transparent;
        border: 0;
        color: #484848;
        cursor: pointer;
        display: block;
        height: 4em;
        padding-right: 1.25em;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
        vertical-align: middle;
        width: 5em;
    }
    
    #navPanel .close:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
        content: '\f00d';
        width: 3em;
        height: 3em;
        line-height: 3em;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
    }
    
    #navPanel .close:hover {
        color: inherit;
    }
    
    @media screen and (max-width: 980px) {
        #navPanel {
            display: block;
        }
    }
    /* Menu End */
    
    .wrapper {
        height: 100%;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .wrapper:before,
    .wrapper:after {
        content: " ";
        display: table;
    }
    
    .wrapper:after {
        clear: both;
    }
    
    .wrapper {
        max-width: 100%;
        margin: 0 auto;
        min-height: 100%;
        background-color: #ecf0f5;
    }
    
    .content-wrapper {
        height: 100%;
        padding-top: 5em;
        z-index: 820;
    }
    
    .content-map {
        min-height: 250px;
        margin-right: auto;
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .content {
        min-height: 250px;
        padding: 0;
        margin-right: auto;
        margin-left: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .main-footer {
        bottom: 0;
        width: 100%;
        z-index: 820;
        padding: 15px;
        margin-bottom: 10px;
        font-size: 15px;
        background: #ffff;
        border-top: 1px solid #d2d6de;
    }
    
    @media (max-width: 767px) {
        .hidden-xs {
            display: none !important;
        }
    }
    
    .content_menu {
        margin-top: 15px;
        width: 100%;
    }
    
    .content_inner {
        border: 1px #a9b5c7 solid;
        padding: 15px 15px 10px 15px;
        border-radius: 0 0 5px 5px;
        border-top: 0px;
        position: relative;
    }
    
    .showButtons {
        z-index: 99;
        position: relative;
        float: right;
        margin: 5px;
    }
    
    .showButton1 {
        padding: 6px 12px;
        margin-bottom: 0;
        margin-left: 5px;
        vertical-align: middle;
        font-weight: 400;
        width: 22px;
        height: 22px;
        background: url("../../images/show_1_icon.png") no-repeat 0px 0px;
        background-position: center;
        background-color: #ecf0f5;
    }
    
    .showButton2 {
        padding: 6px 12px;
        margin-bottom: 0;
        margin-left: 5px;
        vertical-align: middle;
        font-weight: 400;
        width: 22px;
        height: 22px;
        background: url('../../images/show_2_icon.png') no-repeat 0px 0px;
        background-position: center;
        background-color: #ecf0f5;
    }
    
    .showButton3 {
        padding: 6px 12px;
        margin-bottom: 0;
        margin-left: 5px;
        vertical-align: middle;
        font-weight: 400;
        width: 22px;
        height: 22px;
        background: url('../../images/show_3_icon.png') no-repeat 0px 0px;
        background-position: center;
        background-color: #ecf0f5;
    }
    
    .blue-color {
        background-color: #0070bb;
        font-size: 15px;
        color: #ffff;
    }
    
    .addPanel {
        border-radius: 4px 4px 4px 4px;
        margin-left: 5px;
        margin-right: 15px;
        margin-bottom: 0;
    }
    
    .panel-config-header {
        background-color: #0070bb;
    }
    
    .panel-config-header h5 {
        color: #ffff;
    }
    
    .panel-config-mini-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 1px solid #dee2e6;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;
        padding: 3px 3px;
    }
    
    .panel-config-mini-title {
        font-size: 13px;
        background-color: #0070bb;
        height: 18px;
    }
    
    .content_menu h1 {
        background: #0070bb;
        border-radius: 5px 5px 0 0;
        box-shadow: 0 1px 4px #888888;
        color: #fff;
        text-align: center;
        font-weight: bold;
        padding: 10px 15px;
        font-size: 15px;
    }
    
    .description {
        resize: none;
        /* 사용자 임의 변경 불가 */
    }
    
    .dashboard-content {
        padding: 4em;
    }
    
    .DataReport-content-header {
        margin-top: 30px;
        width: 100%;
    }
    
    .DataReport-content-header-menu {
        width: 100%;
        margin-top: 15px;
    }
    
    .DataReport-content-header-menu h1 {
        background: #0070bb;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 0;
        border-radius: 5px 5px 0 0;
        box-shadow: 0 1px 4px #888888;
        color: #fff;
        text-align: center;
        font-weight: bold;
        padding: 10px 15px;
        font-size: 15px;
    }
    
    .DataReport-content-header-menu-body {
        margin-top: 0;
        background-color: #ffff;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 0 0 5px 5px;
        border: 1px #a9b5c7 solid;
    }
    
    .btn-border {
        border: 1px #a9b5c7 solid;
    }
    
    .DataReport-content-header-menu-body-menu {
        margin-top: 2%;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .resp-tabs-list {
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        padding: 0;
        list-style: none;
        display: block;
        border-left: 1px solid #d7d7d7;
    }
    
    .resp-tabs-list li:first-child {
        margin-left: 0px;
        border-left: 1px solid #d7d7d7;
    }
    
    .resp-tabs-list li.resp-tab-active,
    .resp-tabs-list li:hover {
        border: 1px solid #e4e4e4;
        border-bottom: #FFF solid 1px;
        color: #0070bb;
        border-left: 0px;
    }
    
    .resp-tabs-list li {
        font-weight: normal;
        font-family: "open_sansbold";
        font-size: 15px;
        display: inline-block;
        padding: 10px 25px 10px;
        margin: 0 0px -1px 0;
        list-style: none;
        cursor: pointer;
        float: left;
        border-right: 1px solid #d7d7d7;
        border-top: 1px solid #d7d7d7;
        color: #4eaae8;
        outline: medium none;
        position: relative;
        background: #fff;
    }
    
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
    
    .DataReport-content-menu-body {
        margin-top: 0;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }