<!doctype html>
<html lang="en">

<head>
  
  <title>IoF Main Page</title>
  <% include ../../partials/customer/MainPage/stylesheet.ejs %>
</head>

<body id="page-top">
  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1 main-Header">Welcome IoF</h1>
      <h3 class="mb-5 main-paragraph">
        <!--<em>A Free Bootstrap Theme by Start Bootstrap</em>-->
      </h3>
      <a class="btn btn-flame btn-xl js-scroll-trigger" href="/login"><h4>Go to Login Page</h4></a>
    </div>
    <div class="overlay"></div>
  </header>

<% include ../../partials/customer/MainPage/javascript.ejs %>

</body>

</html>
