<!-- search form -->
 <form action="#" method="get" class="sidebar-form">
    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
    </div>
</form>
<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
    <li class="header">MAIN NAVIGATION</li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-users"></i><span>Member</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/admin/member/create"><i class="fa fa-circle-o"></i>member insert</a></li>
        </ul>
        <ul class="treeview-menu">
          <li><a href="/admin/member/list"><i class="fa fa-circle-o"></i>member list</a></li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-dashboard"></i><span>Logger</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="/admin/logger/create"><i class="fa fa-circle-o"></i>Logger Insert</a></li>
          <li><a href="/admin/logger/list"><i class="fa fa-circle-o"></i>Logger List</a></li>
        </ul>
      </li>
<!--
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>devices</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/device/registe"><i class="fa fa-circle-o"></i>devices registe</a></li>
            <li><a href="/device/list"><i class="fa fa-circle-o"></i>devices list</a></li>
        </ul>
    </li>
-->    
    <!-- device list end-->
    <!-- data logger start-->
<!--
    <li class="active treeview">
      <a href="#">
        <i class="fa fa-dashboard"></i><span>Pro Version</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
      </a>
        <ul class="treeview-menu">
          <li><a href="/dataLogger/registe"><i class="fa fa-circle-o"></i>data logger registe</a></li>
          <li><a href="/dataLogger/list"><i class="fa fa-circle-o"></i>data logger list</a></li>
        </ul>
    </li>
-->    
    <!-- data logger end-->
<!--
      <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/boarder/registe"><i class="fa fa-circle-o"></i>Dashboard registe</a></li>
            <li><a href="/boarder/list"><i class="fa fa-circle-o"></i>Dashboard list</a></li>
          </ul>
        </li>
-->
<!-- add nav item -->
<!-- 
    <li class="active treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i>registePage</a></li>
            <li><a href="#"><i class="fa fa-circle-o"></i>listPage</a></li>
          </ul>
        </li>
-->
</ul>