<!DOCTYPE html>
<html>
    <head>
        <% include ../../../../partials/admin/stylesheet.ejs %>
        <style>

            .SelectDiv{
                display:none;
            }
            .SelectActive{
                display:block;
            }
            .DataTracker{
                display:none;
            }
            .ecolog{
                display:none;
            }
            .HikVision{
                display:none;
            }
        </style>
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
       <div class="wrapper">
            <% include ../../../../partials/admin/header.ejs %>
            <div class="content-wrapper">
                <div class="content">
                   <div class="box" style="margin:10% auto; width:75%;">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-fw fa-hdd-o" style="margin-right:10px;"></i>Device Create</h3>
                        </div>
                        <!--./box header-->
                        <div class="box-body">
                           <form class="form-horizontal">
                                <input type="hidden" id="_csrf" name="_csrf" value ="<%=_csrf%>">
                                <div class="form-group">
                                    <label for="SiteOwnerId" class="col-sm-2 control-label">Site Owner Id</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="SiteOwnerId" id="SiteOwnerId" placeholder="Site Owner Id ...">
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" id="OwnerIdBtn" name="OwnerIdBtn" class="btn btn-default btn-block"><i class="fa fa-fw fa-user" style="margin-right:10px;"></i>Id Check</button>
                                        <input type="hidden" id="OwnerId" value>
                                    </div>
                                </div>
                                <!--./form-group-->
                                <div class="form-group">
                                    <label for="SiteName" class="col-sm-2 control-label">Site Name</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="SiteName" placeholder="Site Name ...">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="hidden" id="SiteCheck" value>
                                        <input type="hidden" id="SiteId" value>
                                        <button type="button" id="SiteNameIdBtn" name="SiteNameIdBtn" class="btn btn-default btn-block"><i class="fa fa-inbox" style="margin-right:5px;"></i>Site Name Check</button>
                                    </div>
                                    <div class="col-sm-3">
                                        <!--<button type="button" class="btn btn-default btn-block"><i class="fa fa-fw fa-inbox" style="margin-right:5px;"></i>Site Name Check</button>-->
                                    </div>
                                </div>
                                <!--./form-group-->
                                <div class="form-group">
                                    <label for="PlotName" class="col-sm-2 control-label">Plot Name</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="PlotName" placeholder="Plot Name ...">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="hidden" id="PlotCheck" value>
                                        <input type="hidden" id="PlotId" value>
                                        <button type="button" name="PlotNameIdBtn" id="PlotNameIdBtn" class="btn btn-default btn-block"><i class="fa fa-folder" style="margin-right:5px;"></i>Plot Name Check</button>
                                    </div>
                                    <div class="col-sm-3">
                                        <!--<button type="button" class="btn btn-default btn-block"><i class="fa fa-fw fa-folder" style="margin-right:5px;"></i>Plot Name Check</button>-->
                                    </div>
                                </div>
                                <!--./form-group-->
                                <div class="form-group">
                                    <label for="DeviceName" class="col-sm-2 control-label">Device Name</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="DeviceName" placeholder="Device Name ...">
                                    </div>
                                    <div class="col-sm-3">
                                        <!--<button type="button" class="btn btn-default btn-block"><i class="fa fa-fw fa-hdd-o" style="margin-right:5px;"></i>Device Name Check</button>-->
                                    </div>
                                </div>
                                <!--./form-group-->
                                <div class="form-group">
                                    <label for="SelectType" class="col-sm-2 control-label">Device Type</label>
                                    <div class="col-sm-4">
                                        <select id="deviceType" class="form-control">
                                            <option>Selected...</option>
                                            <option value="DataTracker">Data Tracker</option>
                                            <option value="ecolog">EcoLog</option>
                                            <option value="HikVision">Hikvision Camera</option>
                                        </select>
                                    </div>
                                </div>
                                <!--./form-group-->
                                <div class="form-group">
                                    <label for="lat" class="col-sm-2 control-label">Device Latitude</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id='lat' placeholder="Device Latitude ...">
                                    </div>
                                </div>
                                <!--./form-group-->
                                <div class="form-group">
                                    <label for="lon" class="col-sm-2 control-label">Device Longitude</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id='lon' placeholder="Device Longitude ...">
                                    </div>
                                </div>
                                <!--./form-group-->
                                <div class="DataTracker">
                                    <div class='form-group'>
                                        <label for='dataTrackerIP' class='col-sm-2 control-label'>Data Tracker IP</label>
                                        <div class='col-sm-4'>
                                            <input class='form-control' id="dataTrackerIP" placeholder="Data Tracker IP...">
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                    <div class="form-group">
                                        <label for="dataTrackerID" class="col-sm-2 control-label">Data Tracker ID</label>
                                        <div class='col-sm-4'>
                                            <input type="text" class="form-control" id="dataTrackerID" placeholder="Data Tracker WEB dEX4 id...">
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                    <div class="form-group">
                                        <label for='dataTrackerPw' class='col-sm-2 control-label'>Data Tracker Password</label>
                                        <div class='col-sm-4'>
                                            <input type='password' class='form-control' id="dataTrackerPw" placeholder="Data Tracker WEB dEX4 password ...">
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                    <div class="form-group">
                                        <label for='dataTrackerFolder' class='col-sm-2 control-label'>Data Tracker FTP Folder Name</label>
                                        <div class='col-sm-4'>
                                            <input class='form-control' id='dataTrackerFolder' placeholder="Data Tracker FTP Folder Name...">
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./data-tracker-->
                                <div class="ecolog">
                                    <div class='form-group'>
                                        <label for='ecologFTPFolder' class='control-label col-sm-2'>ecolog FTP Folder Name</label>
                                        <div class='col-sm-4'>
                                            <input class='form-control' id="ecologFTPFolder" placeholder="FTP Folder Name...">
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                    <div class='form-group'>
                                        <label for='ecologFileType' class='control-label col-sm-2'>ecolog File Type</label>
                                        <div class='col-sm-4'>
                                            <input class='form-control' id="ecologFileType" placeholder='ecolog File Type...'>
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./ecolog-->
                                <div class="HikVision">
                                    <div class='form-group'>
                                        <label for='hikvisionIp' class='col-sm-2 control-label'>HikVision Camera IP</label>
                                        <div class='col-sm-4'>
                                            <input class='form-control' id="hikvisionIp" placeholder="Input Camera IP...">
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                    <div class='form-group'>
                                        <label for='hikvisionID' class='col-sm-2 control-label'>HikVision Camera ID</label>
                                        <div class='col-sm-4'>
                                            <input class='form-control' id="hikvisionID" placeholder="Input Camera Login ID...">
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                    <div class='form-group'>
                                        <label for='hikVisionPw' class='col-sm-2 control-label'>HikVision Camera Password</label>
                                        <div class='col-sm-4'>
                                            <input class='form-control' id="hikVisionPw" placeholder='Input Camera Login Password...'>
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./hikvision-->
                           </form>
                        </div>
                        <!--./box body-->
                        <div class="box-footer">
                            <div class=' pull-right'>
                                <button id="Cancel" type="button" class="btn btn-flat btn-danger"><i class="fa fa-fw fa-times" style="margin-right:10px;"></i>Cancel</button>
                                <button id="Create" type="button" class="btn btn-flat btn-primary"><i class="fa fa-fw fa-save" style="margin-right:10px;"></i>Create</button>
                            </div>
                        </div>
                        <!--./box-footer-->
                   </div>
                </div>
                <!--/.content-->
            </div>
            <!-- /.content-wrapper-->
            <% include ../../../../partials/admin/footer.ejs %>
       </div>
       <!--/.wrapper-->
       <% include ../../../../partials/admin/footerScript.ejs %>
    </body>
    <script>
        let TypeDevice = (function(){
            const _deviceType = { 'Types':['DataTracker', 'ecolog', 'HikVision'],'DataTracker':true, 'ecolog':true,'HikVision':true };
            return {
                getType:function(){
                    return _deviceType;
                }
            }
        }());

        /** space Check */
        function SpaceCheck(Id){
            let testing =  $(Id).val();
            console.log("index ", testing);
            if(($(Id).val().indexOf(' ') > -1) || $(Id).val().indexOf(' ') === 0){
                
                return false;
            }
            return true;
        }

         /** Email checking */
        function validateEmail(email) {
            let re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
            return re.test(email);
        }

        /** select check */
        function selectChecking(){
            let value = TypeDevice.getType();
            let deviceType = $("#deviceType").val();
            if(value[deviceType]){
                return true;
            }else{
                Swal.fire({
                    title:'Select Device Type',
                    type:'warning',
                });
                return false;
            }
        }

        /** Owner Id Check */
        function OwnerCheck(){
            $("#OwnerIdBtn").click(function(){
                console.log('id check');
                let OwnerValue = $("#SiteOwnerId").val();
                console.log("Owner Value : ", OwnerValue);
                if(OwnerValue === ""){
                    Swal.fire({
                        title:"not Owner id Not empty",
                        type:'warning'
                    });
                    return false;
                }
                if(OwnerValue.indexOf(' ') !== -1){
                    Swal.fire({
                        title:"not Owner id Not have space value",
                        type:'warning'
                    });
                    return false;
                }
                if(!validateEmail(OwnerValue)){
                    Swal.fire({
                        title:"not Owner Email Type",
                        type:'warning'
                    });
                    return false;
                }
                $.ajaxSetup({
                    beforeSend:function(xhr){
                        xhr.setRequestHeader('X-CSRF-Token', "<%=_csrf%>");
                    }
                })
                $.ajax({
                    url:'/admin/Members/userEmail-check',
                    type:'post',
                    contentType:'application/json',
                    data:JSON.stringify({
                        'email':OwnerValue
                    }),
                    success:function(data){
                        console.log('Email check success value : ', data);
                        if(data == 1){
                            console.log('have user');
                            $("#OwnerId").val(true);
                            Swal.fire({
                                title:'Success',
                                type:'success'
                            });
                            return true;
                        }else if(data === "-1"){
                            console.log('server error');
                            Swal.fire({
                                title:'Create Error',
                                type:'warning',
                                text:'Retry few minute later'
                            });
                            return false;
                        }else{
                            Swal.fire({
                                title:'Not have User',
                                type:'warning',
                                text:'first Make User\r\ngo to Registe Page',
                                showCancelButton:true
                            }).then(result=>{
                                if(result.value){
                                    location.href = "/admin/Members/registe";
                                }
                                return false;
                            });
                        }
                    }
                });
            });

        }

        /** Owner Id Flag check */
        function OwnerIdFlagCheck(){
            let IDFlag = $("#OwnerId").val();
            let SiteOwner = $("#SiteOwnerId").val();
            console.log("ID FLAG", IDFlag+", "+SiteOwner);
            if(IDFlag === "true"){
                console.log("ID FLAG !!", IDFlag+", "+SiteOwner);
                return true;
            }
            return false;
        }

        /** Site Name Check */
        function SiteNameCheck(){
            $("#SiteNameIdBtn").click(function(){
                let getSiteValue = $("#SiteName").val();
                let getSiteId = $("#SiteId").val();
                console.log("SiteNameIdBtn");
                console.log('get site value :', getSiteValue );
                if(!OwnerIdFlagCheck()){
                    Swal.fire({
                        title:'Owner Check First',
                        type:'warning'
                    });
                    return false;
                }
                if(!getSiteValue){
                    Swal.fire({
                        title:'not Site Name Empty',
                        type:'warning'
                    });
                    return false;
                }
                console.log(getSiteValue.indexOf(' '));
                if((getSiteValue.indexOf(' ') > -1) || (getSiteValue.indexOf(' ') == 0)){
                    Swal.fire({
                        title:'not Site Name not have space',
                        type:'warning'
                    });
                    return false;
                }

                $.ajaxSetup({
                    beforeSend:function(xhr){
                        xhr.setRequestHeader('X-CSRF-Token', "<%=_csrf%>");
                    }
                });
                $.ajax({
                    url:'/admin/Site/siteName-check',
                    type:'post',
                    dataType:'json',
                    contentType:'application/json',
                    data:JSON.stringify({
                        'siteName':getSiteValue,
                        'SiteCheckId':getSiteId
                    }),
                    success:function(data){
                        console.log('Site Name Check success ', data);
                        if(data === 0){
                            Swal.fire({
                                title:'Not have Site',
                                type:'warning',
                                text:'create Site page',
                                showCancelButton:true,
                            }).then(result=>{
                                if(result.value){
                                    location.href = "/admin/Site/create";
                                }
                                return false;
                            })
                        }else if(data === '-1'){
                            Swal.fire({
                                type:'warning',
                                title:'RETRY'
                            });
                            return false;
                        }else{
                            console.log('data length : ', data.length);
                            if(data.length > 1){
                                let options = {};
                                data.forEach(item=>{
                                    let MakeDate = new Date(item.createdAt).getFullYear() + "-"+(new Date(item.createdAt).getMonth()+1) + "-"+new Date(item.createdAt).getDate() + " : " + new Date(item.createdAt).getHours() + " : " + new Date(item.createdAt).getMinutes();
                                    options[item.id] = "Owner Email : "+item.user.UserEmail + ", Site Name :  " +item.name + ', Create Time : ' + MakeDate;
                                });
                                let check = Swal.fire({
                                    title: 'Select Site',
                                    input: 'select',
                                    inputOptions: options,
                                    showCancelButton: true,
                                    inputValidator: (value) => {
                                        return new Promise((resolve) => {
                                        $("#SiteCheck").val(true);
                                        $("#SiteId").val(value)
                                        resolve();
                                        });
                                    }
                                })
                                if(check){
                                    return true;
                                }
                            }else if(data.length === 1){
                                console.log(data[0].id);
                                Swal.fire({
                                    title:'Site Name check success',
                                    type:'success',
                                });
                                $("#SiteCheck").val(true);
                                $("#SiteId").val(data[0].id);
                                return true;
                            }else{
                                Swal.fire({
                                    type:'warning',
                                    title:'RETRY'
                                });
                                return false;
                            }
                        }
                    },
                    err:function(request, status, error){
                        console.log('code : ', request.status);
                        console.log('message : ', request.responseText);
                        console.log('status : ', status);
                        console.log('error ::: ', error);
                        return false;
                    }
                });
            });
        }

        /** Site Name Flag Check */
        function SiteNameFlagCheck(){
            let SiteNameFlag = $("#SiteCheck").val();
            let SiteIdFlag = $("#SiteId").val();
            if((SiteNameFlag === "true") &&(SiteIdFlag !== "")){
                return true;
            }
            return false;
        }

        /** Plot Name Check */
        function PlotNameCheck(){
            $("#PlotNameIdBtn").click(function(){
                let getPlotName = $("#PlotName").val();
                let getPlotId = $("#PlotId").val();
                let getSiteId =$("#SiteId").val();
                if(!OwnerIdFlagCheck()){
                    Swal.fire({
                        title:'Owner Check First',
                        type:'warning'
                    });
                    return false;
                }
                if(!SiteNameFlagCheck()){
                    Swal.fire({
                        title:'Site Check First',
                        type:'warning'
                    });
                    return false;
                }
                if(!getPlotName){
                    Swal.fire({
                        title:'Not Empty Plot Name',
                        type:'warning'
                    });
                    return false;
                }

                if(getPlotName.indexOf(' ') > -1 || getPlotName.indexOf(' ' ) == 0){
                    Swal.fire({
                        title:'Plot Name not have space',
                        type:'warning'
                    });
                    return false;
                }
                $.ajaxSetup({
                    beforeSend:function(xhr){
                        xhr.setRequestHeader('X-CSRF-Token', "<%=_csrf%>");
                    }
                });
                $.ajax({
                    url:'/admin/Plot/plotName-check',
                    type:'post',
                    dataType:'json',
                    contentType:'application/json',
                    data:JSON.stringify({
                        "plotName":getPlotName,
                        "plotId":getPlotId,
                        "siteId":getSiteId
                    }),
                    success:function(data){
                        if(data === 0){
                            $("#SiteId").val("");
                            Swal.fire({
                                title:'Not have plot',
                                type:'warning',
                                text:'Create Site page',
                                showCancelButton:true
                            }).then(result=>{
                                if(result.value){
                                    location.href = "/admin/Plot/create";
                                }
                                return false;
                            })
                        }else if(data === "-1"){
                            Swal.fire({
                                type:'warning',
                                title:'RETRY'
                            });
                            return false;
                        }else{
                            console.log('data length : ',data.length);
                            if(data.length > 1){
                                let options = {};
                                data.forEach(item =>{
                                    let MakeDate = new Date(item.createdAt).getFullYear() + "-"+(new Date(item.createdAt).getMonth()+1) + "-"+new Date(item.createdAt).getDate() + " : " + new Date(item.createdAt).getHours() + " : " + new Date(item.createdAt).getMinutes();
                                    options[item.id] = "Owner Email : " + item.site.user.UserEmail + ", Site Name : "+item.site.name+", Plot Name : "+item.PlotName + ", Create Time : "+MakeDate;
                                });

                                let check = Swal.fire({
                                    title:"Select Plot",
                                    input:'select',
                                    inputOptions:options,
                                    showCancelButton:true,
                                    inputValidator:(value)=>{
                                        return new Promise(resolve=>{
                                            $("#PlotCheck").val(true);
                                            $("#PlotId").val(value);
                                            resolve();
                                        });
                                    }
                                });
                                if(check){
                                    return true;
                                }
                            }else if(data.length === 1){
                                console.log(data[0].id);
                                Swal.fire({
                                    title:'Plot Name Check success',
                                    type:'success',
                                });
                                $("#PlotCheck").val(true);
                                $("#PlotId").val(data[0].id);
                                return true;
                            }else{
                                Swal.fire({
                                    title:'RETRY',
                                    type:'warning'
                                });
                                return false;
                            }
                        }
                        
                    },
                    err:function(request, status, error){
                        console.log('code : ', request.status);
                        console.log('message : ', request.responseText);
                        console.log('status : ', status);
                        console.log('error ::: ', error);
                        return false;
                    }
                });
            });
        }

        /** Plot Name Flag Check */
        function PlotNameFlagCheck(){
            let PlotFlag = $("#PlotCheck").val();
            let PlotNameFlag = $("#PlotId").val();
            if((PlotFlag === "true") || PlotNameFlag !== ""){
                return true;
            }
            return false;
        }

        /** function Device Wrong Check */
        function DeviceValueCheck(){
            let OwnerId = $("#SiteOwnerId").val();
            let SiteName = $("#SiteName").val();
            let PlotName = $("#PlotName").val();
            let DeviceName = $("#DeviceName").val();
            let latitude = $("#lat").val();
            let longitude = $("#lon").val();
            console.log('device value : ' + OwnerId+", " +SiteName+", "+PlotName + ", " + DeviceName+', '+latitude+', '+longitude);
            if(OwnerId === ""){
                Swal.fire({
                    title:'Not Owner Id Not Empty',
                    type:'warning'
                });
                return false;
            }
            if(SiteName === ""){
                Swal.fire({
                    title:"Site Name Not Empty",
                    type:'warning'
                });
                return false;
            }
            if(PlotName === ""){
                Swal.fire({
                    title:'Plot Name Not Empty',
                    type:'warning'
                });
                return false;
            }
            if(DeviceName === ""){
                Swal.fire({
                    title:'Device Name Not Empty',
                    type:'warning'
                });
                return false;
            }
            if(!SpaceCheck("#SiteOwnerId")){
                Swal.fire({
                    title:'Owner Id Not have space value',
                    type:'warning'
                });
                return false;
            }
            if(!SpaceCheck("#SiteName")){
                Swal.fire({
                    title:'Site Name Not have space value',
                    type:'warning'
                });
                return false;
            }
            if(!SpaceCheck("#PlotName")){
                Swal.fire({
                    title:'Plot Name Not have space value',
                    type:'warning'
                });
                return false;
            }
            if(!SpaceCheck("#DeviceName")){
                Swal.fire({
                    title:'Device Name Not have space value',
                    type:'warning'
                });
                return false;
            }
            return true;
        }

        /** function Detail Value Check */
        function DeviceRawCheck(){
            let TypeValue = TypeDevice.getType().Types;
            let DeviceType = $("#deviceType option:selected").val();
            console.log('value type : ', DeviceType);
            TypeValue.forEach(item=>{
                if(item === "DataTracker"){
                    let DataTrackerIP = $("#dataTrackerIP").val();
                    let DataTrackerID = $("#dataTrackerID").val();
                    let DataTrackerPw = $("#dataTrackerPw").val();
                    let DataTrackerPath = $("#dataTrackerFolder").val();
                }
                if(item === "ecolog"){
                    let EcologPath = $("#ecologFTPFolder").val();
                    let EcologFile = $("#ecologFileType").val();
                }
                if(item === "HikVision"){
                    let HikVisionIp = $("#hikvisionIp").val();
                    let HikVisionId = $("#hikvisionID").val();
                    let HikVisionPw = $("#hikVisionPw").val();
                }
            })
            return true;
        }

        function Create(){
            $("#Create").click(function(){
                selectChecking();
                if(DeviceValueCheck()){
                    console.log('create');
                    if(DeviceRawCheck()){
                        console.log('create');
                    }else{
                        console.log('not create');
                    }
                }else{
                    console.log('not create');
                }
            });
        }


        $(document).ready(function(){
            $("#deviceType").change(function(){
                let value = this.value;
                console.log(value);
                if(value === 'DataTracker'){
                    $(".ecolog").css('display', 'none');
                    $(".HikVision").css('display', 'none');
                    $(".DataTracker").css('display', 'block');
                }else if(value === 'ecolog'){
                    $(".DataTracker").css('display', 'none');
                    $(".HikVision").css('display', 'none');
                    $(".ecolog").css('display', 'block');
                }else if(value === 'HikVision'){
                    $(".DataTracker").css('display', 'none');
                    $(".ecolog").css('display', 'none');
                    $(".HikVision").css('display', 'block');
                }else{
                    $(".DataTracker").css('display', 'none');
                    $(".ecolog").css('display', 'none');
                    $(".HikVision").css('display', 'none');
                }
            });
            OwnerCheck();
            SiteNameCheck();
            PlotNameCheck();
            Create();
        });
    </script>
</html>