<!DOCTYPE html>
<html>
    <head>
        <% include ../../../../partials/admin/stylesheet.ejs %>
        <style>

            .SelectDiv{
                display:none;
            }
            .SelectActive{
                display:block;
            }
            .DataTracker{
                display:none;
            }
            .ecolog{
                display:none;
            }
            .HikVision{
                display:none;
            }
        </style>
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
       <div class="wrapper">
            <% include ../../../../partials/admin/header.ejs %>
            <div class="content-wrapper">
                <div class="content">
                   <div class="box" style="margin:10% auto; width:75%;">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-fw fa-hdd-o" style="margin-right:10px;"></i>Device Create</h3>
                        </div>
                        <!--./box header-->
                        <div class="box-body">
                           <form class="form-horizontal">
                                <input type="hidden" id="_csrf" name="_csrf" value ="<%=_csrf%>">
                                <div class="form-group">
                                    <label for="SiteOwnerId" class="col-sm-2 control-label">Site Owner Id</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="SiteOwnerId" id="SiteOwnerId" placeholder="Site Owner Id ...">
                                    </div>
                                    <div class="col-sm-4">
                                        <button type="button" id="OwnerIdBtn" name="OwnerIdBtn" class="btn btn-default btn-block"><i class="fa fa-fw fa-user" style="margin-right:10px;"></i>Id Check</button>
                                        <input type="hidden" id="OwnerId" value>
                                    </div>
                                </div>
                                <!--./form-group-->
                                <div class="form-group">
                                    <label for="SiteName" class="col-sm-2 control-label">Site Name</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="SiteName" placeholder="Site Name ...">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="hidden" id="SiteCheck" value>
                                        <input type="hidden" id="SiteId" value>
                                        <button type="button" id="SiteNameIdBtn" name="SiteNameIdBtn" class="btn btn-default btn-block"><i class="fa fa-inbox" style="margin-right:5px;"></i>Site Name Check</button>
                                    </div>
                                    <div class="col-sm-3">
                                        <!--<button type="button" class="btn btn-default btn-block"><i class="fa fa-fw fa-inbox" style="margin-right:5px;"></i>Site Name Check</button>-->
                                    </div>
                                </div>
                                <!--./form-group-->
                                <div class="form-group">
                                    <label for="PlotName" class="col-sm-2 control-label">Plot Name</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="PlotName" placeholder="Plot Name ...">
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="hidden" id="PlotCheck" value>
                                        <input type="hidden" id="PlotId" value>
                                        <button type="button" name="PlotNameIdBtn" id="PlotNameIdBtn" class="btn btn-default btn-block"><i class="fa fa-folder" style="margin-right:5px;"></i>Plot Name Check</button>
                                    </div>
                                    <div class="col-sm-3">
                                        <!--<button type="button" class="btn btn-default btn-block"><i class="fa fa-fw fa-folder" style="margin-right:5px;"></i>Plot Name Check</button>-->
                                    </div>
                                </div>
                                <!--./form-group-->
                                <div class="form-group">
                                    <label for="DeviceName" class="col-sm-2 control-label">Device Name</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="DeviceName" placeholder="Device Name ...">
                                    </div>
                                    <div class="col-sm-3">
                                        <!--<button type="button" class="btn btn-default btn-block"><i class="fa fa-fw fa-hdd-o" style="margin-right:5px;"></i>Device Name Check</button>-->
                                    </div>
                                </div>
                                <!--./form-group-->
                                <div class="form-group">
                                    <label for="SelectType" class="col-sm-2 control-label">Device Type</label>
                                    <div class="col-sm-4">
                                        <select id="deviceType" class="form-control">
                                            <option>Selected...</option>
                                            <option value="DataTracker">Data Tracker</option>
                                            <option value="ecolog">EcoLog</option>
                                            <option value="HikVision">Hikvision Camera</option>
                                        </select>
                                    </div>
                                </div>
                                <!--./form-group-->
                                <div class="form-group">
                                    <label for="lat" class="col-sm-2 control-label">Device Latitude</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id='lat' placeholder="Device Latitude ...">
                                    </div>
                                </div>
                                <!--./form-group-->
                                <div class="form-group">
                                    <label for="lon" class="col-sm-2 control-label">Device Longitude</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id='lon' placeholder="Device Longitude ...">
                                    </div>
                                </div>
                                <!--./form-group-->
                                <div class="DataTracker">
                                    <div class='form-group'>
                                        <label for='dataTrackerIP' class='col-sm-2 control-label'>Data Tracker IP</label>
                                        <div class='col-sm-4'>
                                            <input class='form-control' id="dataTrackerIP" placeholder="Data Tracker IP...">
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                    <div class="form-group">
                                        <label for="dataTrackerID" class="col-sm-2 control-label">Data Tracker ID</label>
                                        <div class='col-sm-4'>
                                            <input type="text" class="form-control" id="dataTrackerID" placeholder="Data Tracker WEB dEX4 id...">
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                    <div class="form-group">
                                        <label for='dataTrackerPw' class='col-sm-2 control-label'>Data Tracker Password</label>
                                        <div class='col-sm-4'>
                                            <input type='password' class='form-control' id="dataTrackerPw" placeholder="Data Tracker WEB dEX4 password ...">
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                    <div class="form-group">
                                        <label for='dataTrackerFolder' class='col-sm-2 control-label'>Data Tracker FTP Folder Name</label>
                                        <div class='col-sm-4'>
                                            <input class='form-control' id='dataTrackerFolder' placeholder="Data Tracker FTP Folder Name...">
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./data-tracker-->
                                <div class="ecolog">
                                    <div class='form-group'>
                                        <label for='ecologFTPFolder' class='control-label col-sm-2'>ecolog FTP Folder Name</label>
                                        <div class='col-sm-4'>
                                            <input class='form-control' id="ecologFTPFolder" placeholder="FTP Folder Name...">
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                    <div class='form-group'>
                                        <label for='ecologFileType' class='control-label col-sm-2'>ecolog File Type</label>
                                        <div class='col-sm-4'>
                                            <input class='form-control' id="ecologFileType" placeholder='ecolog File Type...'>
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./ecolog-->
                                <div class="HikVision">
                                    <div class='form-group'>
                                        <label for='hikvisionIp' class='col-sm-2 control-label'>HikVision Camera IP</label>
                                        <div class='col-sm-4'>
                                            <input class='form-control' id="hikvisionIp" placeholder="Input Camera IP...">
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                    <div class='form-group'>
                                        <label for='hikvisionID' class='col-sm-2 control-label'>HikVision Camera ID</label>
                                        <div class='col-sm-4'>
                                            <input class='form-control' id="hikvisionID" placeholder="Input Camera Login ID...">
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                    <div class='form-group'>
                                        <label for='hikVisionPw' class='col-sm-2 control-label'>HikVision Camera Password</label>
                                        <div class='col-sm-4'>
                                            <input class='form-control' id="hikVisionPw" placeholder='Input Camera Login Password...'>
                                        </div>
                                    </div>
                                    <!--./form-group-->
                                </div>
                                <!--./hikvision-->
                           </form>
                        </div>
                        <!--./box body-->
                        <div class="box-footer">
                            <div class=' pull-right'>
                                <button id="Cancel" type="button" class="btn btn-flat btn-danger"><i class="fa fa-fw fa-times" style="margin-right:10px;"></i>Cancel</button>
                                <button id="Create" type="button" class="btn btn-flat btn-primary"><i class="fa fa-fw fa-save" style="margin-right:10px;"></i>Create</button>
                            </div>
                        </div>
                        <!--./box-footer-->
                   </div>
                </div>
                <!--/.content-->
            </div>
            <!-- /.content-wrapper-->
            <% include ../../../../partials/admin/footer.ejs %>
       </div>
       <!--/.wrapper-->
       <% include ../../../../partials/admin/footerScript.ejs %>
    </body>
    <script>
        let TypeDevice = (function(){
            let _deviceType = [ 'DataTracker', 'ecolog','HikVision' ];
            return {
                getType:function(){
                    return _deviceType;
                }
            }
        }());

        function Create(){
            $("#Create").click(function(){
                let value = TypeDevice.getType();
                console.log(value);
                let deviceType = $("#deviceType").val();
                if(deviceType === value[0]){

                }else if(deviceType === value[1]){
                    
                }else if(deviceType === value[2]){

                }else{
                    Swal.fire({
                        title:'Select Device Type',
                        type:'warning',
                    });
                }
            });
        }

        $(document).ready(function(){
            $("#deviceType").change(function(){
                let value = this.value;
                console.log(value);
                if(value === 'DataTracker'){
                    $(".ecolog").css('display', 'none');
                    $(".HikVision").css('display', 'none');
                    $(".DataTracker").css('display', 'block');
                }else if(value === 'ecolog'){
                    $(".DataTracker").css('display', 'none');
                    $(".HikVision").css('display', 'none');
                    $(".ecolog").css('display', 'block');
                }else if(value === 'HikVision'){
                    $(".DataTracker").css('display', 'none');
                    $(".EcoLog").css('display', 'none');
                    $(".HikVision").css('display', 'block');
                }else{
                    $(".DataTracker").css('display', 'none');
                    $(".ecolog").css('display', 'none');
                    $(".HikVision").css('display', 'none');
                }
            });
            Create();
        });
    </script>
</html>