<!doctype html>
<html lang="en">
    <head>
        <title>IoF Main Page</title>
        <% include ../../../../partials/customer/MainPage/afterstylesheet.ejs %>
    </head>
    <body>
        <!-- header -->
        <% include ../../../../partials/customer/MainPage/afterMainHeader.ejs %>
        <!-- end header -->
        <% include ../../../../partials/customer/MainPage/afterjavascript.ejs %>
    </body>
</html>