  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%=title%></title>
    <link rel="icon" href="/static/user/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/user/css/bootstrap.min.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="/static/user/css/animate.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/static/user/css/owl.carousel.min.css">
    <!-- themify CSS -->
    <link rel="stylesheet" href="/static/user/css/themify-icons.css">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/static/user/css/flaticon.css">
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/static/user/css/magnific-popup.css">
    <!-- swiper CSS -->
    <link rel="stylesheet" href="/static/user/css/slick.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/static/user/css/style.css">