<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Sample Page</title>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link ref="shortcut icon" type="image/x-icon" href="/static/customer/img/logo.png">
    <link rel="stylesheet" href="/example/css/index.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
   
</head>
<body>
    <header class="headerNav">
        <div class="headerWrapper">
            <div class="logo-wrapper">
                <div class="header-logo">
                    <a class="logo" href="#main">C&amp;H <span>Cloud</span></a>
                </div>
                <!--./logo-->
                <div class="LoginWrapper">
                    <div class="info">
                        Login Info
                        <i class="fas fa-user" style="margin-left:10px;font-size:20px;"></i>
                    </div>
                    <!--./login info -->
                </div>
                <!--./logo header-->
            </div>
            <!--./first header-->
            <div class="header-menu-wrapper">
                <div class="select-wrapper">
                    <div class="select">
                        SITE NAME
                    </div>
                    <!--./select-site-->
                </div>
                <!--./select-wrapper-->
                <div class="menu-wrapper">
                    <div class="header-menu">
                        MENU 
                    </div>
                    <div class="info">
                        <i class="fas fa-question-circle" style="margin-right:15px;font-size:25px;"></i>
                    </div>
                    <!--./info-->
                </div>
            </div>
            <!--./header-menu-wrapper-->
        </div>
        <!--./menuWrapper-->
    </header>
    <!-- ./header -->
    <aside class="main-sidebar">
        <div class="side-menu">
            <div class="side-menu-item">
                <i class="fas fa-home" style="margin-right:5px;"></i>
                    Site
                <a class="edit" href="#">
                    <i class="fas fa-pen"></i>
                </a>
            </div>
            <!--./side-menu-item-->
        </div>
        <!--./side-menu-->
        <div class="side-menu treeItem-menu">
            <div class="side-menu-item">
                <i class="fas fa-layer-group" style="margin-right:15px;"></i>
                    Plot
                <a class="edit" href="#">
                    <i class="fas fa-pen"></i>
                </a>
            </div>
            <!--./side-menu-item-->
        </div>
        <!--./side-menu-->
        <ul class="treeItem-menu-item">
            <li class="device-list"><i class="fas fa-satellite-dish" style="margin-right:15px;"></i>test</li>
        </ul>

        <!--./side-menu-item-tree-menu-->
        <div class="side-menu">
            <div class="side-menu-item">
                <i class="fas fa-home" style="margin-right:5px;"></i>
                Side Nav menu
                <a class="edit" href="#">
                    <i class="fas fa-pen"></i>
                </a>
            </div>
            <!--./side-menu-item-->
    </aside>
    <div class="wrapper">
        <div class="content-wrapper">
            <div class="content-header-wrapper">
                <div class="content-header">
                    
                        header
                    
                </div>
            </div>
            <h1>Hello</h1>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Map box sample -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-language/v0.10.1/mapbox-gl-language.js'></script>
    <!-- Icon -->
    <script src="https://kit.fontawesome.com/785affb790.js" crossorigin="anonymous"></script>
    <!-- Main Javascript -->
    <script src="/example/js/index.js"></script>

</body>
</html>