<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/admin/stylesheet.ejs %>
  </head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>C</b>&amp;H</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>C &amp; H </b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                 <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Tasks: style can be found in dropdown.less -->
                        <!-- header nav 들어가는 부분 -->
                        <% include ../../partials/admin/headerNav.ejs %>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/static/images/logo_iot.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        
                        <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
                    </div>
                </div>
                <!-- nav item -->
                <% include ../../partials/admin/navItem.ejs %>
                <!-- end nav item -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <!-- <section class="content-header">
                    <h1>
                        Main <small>Page</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><i class="ffa fa-dshboard"></i>address</li>
                        <li class="active"><a href="/">serial</a></li>
                    </ol>
                </section> -->
                <div class="content">
                    <!-- /.tool header-->
                    <div class="row">
                        <div class="col-xs-12">
                            <!--<div id="map"  style="width:100%;height:350px;"></div>-->
                            <!--<div id="world-map-markers" style="height: 325px;"></div>-->
                        </div>
                    </div>
                      <!-- Info boxes -->
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">CPU Traffic</span>
                                    <span class="info-box-number">90<small>%</small></span>
                                </div>
                            <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Likes</span>
                                    <span class="info-box-number">41,410</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <!-- fix for small devices only -->
                        <div class="clearfix visible-sm-block"></div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Sales</span>
                                    <span class="info-box-number">760</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Members Number</span>
                                    <span class="info-box-number">2,000</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->


                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <!-- box header -->
                                <div class="box-header">
                                    <h3 class="box-title">Sensor Map</h3>
                                </div>
                                <!-- /.box header -->
                                <!-- box body -->
                                <div class="box-body">
                                    <div class="row">
                                        <!-- col-md-8 -->
                                        <div class="col-md-8">
                                            <div id="world-map-markers" style="height: 420px;"></div>
                                        </div>
                                        <!-- /.col-md-8 -->
                                        <!-- col-md-4 -->
                                        <div class="col-md-4">
                                            <p class="text-center">Test</p>
                                            <!-- progress-group -->
                                            <div class="progress-group">
                                                <span class="progress-text">서울</span>
                                                <span class="progress-number"><b>60</b>/100</span>

                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 80%"></div>
                                                </div>
                                            </div>
                                            <!-- /.progress-group -->
                                            <!-- progress-group -->
                                            <div class="progress-group">
                                                <span class="progress-text">경기도</span>
                                                <span class="progress-number"><b>10</b>/100</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-red" style="width: 10%"></div>
                                                </div>
                                            </div>
                                            <!-- /.progress-group -->
                                            <!-- progress-group -->
                                            <div class="progress-group">
                                                <span calss="progress-text">강원도</span>
                                                <span class="progress-number"><b>30</b>/100</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-aqua" style="width:20%"></div>
                                                </div>
                                            </div>
                                            <!-- /.progress-group -->
                                            <!-- progress-group -->
                                            <div class="progress-group">
                                                <span calss="progress-text">충청남도</span>
                                                <span class="progress-number"><b>30</b>/100</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-aqua" style="width:20%"></div>
                                                </div>
                                            </div>
                                            <!-- /.progress-group -->
                                          
                                            <!-- progress-group -->
                                            <div class="progress-group">
                                                <span calss="progress-text">전라남도</span>
                                                <span class="progress-number"><b>20</b>/100</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-green" style="width:30%"></div>
                                                </div>
                                            </div>
                                            <!-- /.progress-group -->
                                            <!-- progress-group -->
                                            <div class="progress-group">
                                                <span calss="progress-text">전라북도</span>
                                                <span class="progress-number"><b>20</b>/100</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-yellow" style="width:30%"></div>
                                                </div>
                                            </div>
                                            <!-- /.progress-group -->
                                            <!-- progress-group -->
                                            <div class="progress-group">
                                                <span calss="progress-text">경상남도</span>
                                                <span class="progress-number"><b>30</b>/100</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-aqua" style="width:20%"></div>
                                                </div>
                                            </div>
                                            <!-- /.progress-group -->
                                            <!-- progress-group -->
                                            <div class="progress-group">
                                                <span calss="progress-text">경상북도</span>
                                                <span class="progress-number"><b>30</b>/100</span>
                                                <div class="progress sm">
                                                    <div class="progress-bar progress-bar-aqua" style="width:20%"></div>
                                                </div>
                                            </div>
                                            <!-- /.progress-group -->
                                        </div>
                                        <!-- /.col-md-4 -->
                                    </div>
                                    <!-- /.row end -->
                                </div>
                                <!-- /.box body -->
                                <!-- box-footer -->
                                <div class="box-footer">
                                </div>
                                <!-- /.box-footer -->
                            </div>
                            <!-- /.box -->
                        </div>

                    </div>
                    <!-- /.row -->
                    

                </div>
            </div>
    <!--
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=def2722a96dab30bb5441f914e98d2b1"></script>
    -->
    <% include ../../partials/admin/footer.ejs %>
    </div>
    <% include ../../partials/admin/footerScript.ejs %>

    <script>
        $(function(){
            $("#world-map-markers").vectorMap({
                map: 'world_mill_en',
                //backgroundColor: "transparent"
                });
        });
    </script>

    <!-- Kakao Map Change -->
<!--
    <script>
        var mapContainer = document.getElementById("world-map-markers");
        mapOption = {
            center:new kakao.maps.LatLng(37.335887, 126.584063),
            level:40
        }
        var map = new kakao.maps.Map(mapContainer, mapOption);
    </script>
    -->
  </body>
</html>