 <!-- header -->
        <header class="main-header">
            <div class="inner">
                <a href="/" class="logo">IoF</a>
                <!-- header nav -->
                <nav id="nav">
                    <span class="getItem">
                        <a href="/">Home</a>
                        <a href="/Device/Map">Map</a>
                        <a href="/Device/DashBoard">DashBoard</a>
                        <a href="#">Alarms</a>
                        <a href="#">Data Reports</a>
                    </span>
                    
                </nav>
            </div>
        </header>
        <!-- mobile header toggle menu -->
        <a href="#" class="navPanelToggle"><span class="fa fa-bars"></span></a> 