<!DOCTYPE html>
<html>
  <head>
    <title>Main</title>
    <% include ../../../partials/admin/stylesheet.ejs %>
    <!-- Daterange picker -->
<link rel="stylesheet" href="/static/admin/plugins/daterangepicker/daterangepicker.css">
<!-- Date Picker -->
  <link rel="stylesheet" href="/static/admin/plugins/datepicker/datepicker3.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="/static/admin/plugins/daterangepicker/daterangepicker.css">
  </head>
  
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>C</b>&amp;H</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>C &amp; H </b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                 <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Tasks: style can be found in dropdown.less -->
                        <!-- header nav 들어가는 부분 -->
                        <% include ../../../partials/admin/headerNav.ejs %>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="/static/images/logo_iot.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        
                        <!-- <a href="#"><i class="fa fa-circle text-success"></i> Online</a> -->
                    </div>
                </div>
                <!-- nav item -->
                <% include ../../../partials/admin/navItem.ejs %>
                <!-- end nav item -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                 <section class="content-header">
                    <h1>
                        Logger <small>Detail Page</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="/"><i class="fa fa-database"></i> Home</a></li>
                        <li><i class="fa fa-dshboard"></i>Logger</li>
                        <li class="active"><a href="#">detail</a></li>
                    </ol>
                </section> 
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class='box'>
                            <div class='box-header'>
                                <h3 class='box-title'>Logger Name</h3>
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-sm daterange" id="WeatherDataDownload"><i class="fa fa-calendar"></i> Weather Data DownLoad</button>
                                        <button class="btn btn-primary btn-sm daterange" id="LoggerDataDownload"><i class="fa fa-calendar"></i> Logger Data DownLoad</button>
                                    </div>
                                </div>
                              
                                <div class="pull-right ">
                                    <form id="download">
                                        <input type="date" id="startCal" name="startCal" hidden="true">
                                        <input type="date" id="endCal" name="endCal" hidden="true">
                                    </form>
                                </div>
                                <!--./end data colum show data logger data name-->
                            </div>
                            <!--./box-header end-->
                            <div class='box-body'>
                                <div id="WeatherhDataChart" name="WeatherhDataChart"></div>
                                <div id="LoggerDataChart" name="LoggerDataChart"></div>
                            </div>
                            <!--./box-body end-->
                            <div class="box-footer">
                            </div>
                            <!--./box-footer end-->
                        </div>
                        <!--./box end-->
                    </div>
                    <!--./col-md-12 end-->
                </div>
                <!--./row end -->
            </div>
        </div>
    <% include ../../../partials/admin/footer.ejs %>
    <% include ../../../partials/admin/footerScript.ejs %>
    <% include ../../../partials/admin/chartScript.ejs %>
    <!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="/static/admin/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/static/chart/MakeChart.js"></script>
<script src="/static/downLoad/download.js"></script>
<script>
    function UpdateWeatherChart(chart){
        $.ajax({
            type:'GET',
            url:'/Json/getLoggerDataMongo?no=1',
            dataType:'json',
            error:function(){
                return null;
            },
            success:function(data){
                let GetData = data;
                UpdateSeries(GetData.NameValue, GetData.DataValue, chart);
            }
        })
    }
    $(document).ready(function(){
        let WeatherChartValue = document.querySelector("#WeatherhDataChart");
        let LoggerChartValue = document.querySelector("#LoggerDataChart");
        let WeatherChart = MakeAreaChart(WeatherChartValue, "Weather Chart");
        let LoggerChart = MakeAreaChart(LoggerChartValue, "Logger Chart");
        UpdateWeatherChart(WeatherChart);
    });
</script>
  </body>
</html>